.community {
  background-color: var(--yellow);
}

.community__content {
  display: flex;
  flex-direction: column;

  gap: 37px;
  padding-top: 141px;
  padding-bottom: 156px;
}

.community__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 50px;
  line-height: 127%;
  letter-spacing: 0.03em;

  text-align: center;
  color: var(--white);
}

.community__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0.03em;
  color: var(--white);
  text-align: center;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-radius: 8px;
  width: 575px;
  height: 87px;
  margin: 0 auto;
}

.input_email {
  background: var(--white);
  padding-left: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: 0.03em;
  color: var(--gray);
}
.btn {
  text-align: center;
  width: 161px;
  height: 67px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.05em;
  background-color: #000;
  color: #fff;
  display: block;
  border-radius: 8px;
  margin-right: 10px;
}
@media screen and (max-width: 1220px) {
  .community {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .community__content {
    padding: 50px;
  }
  .community__title br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .community {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .community__content {
    padding: 30px;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border-radius: 8px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    max-width: 600px;
  }
  .btn {
    text-align: center;
    width: 141px;
    height: 47px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    border-radius: 8px;
    margin-right: 10px;
  }
  .input_email {
    font-size: 18px;
  }
  .community__title {
    font-size: 34px;
    letter-spacing: 2%;
    max-width: 500px;
    margin: 0 auto;
  }

  .community__desc {
    font-size: 18px;
    margin: 0 auto;
    max-width: 600px;
  }
}

@media screen and (max-width: 375px) {
  .community {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .community__content {
    padding: 15px;
  }

  .community__title {
    font-size: 24px;
    letter-spacing: 2%;
  }
  .btn {
    text-align: center;
    width: 161px;
    height: 47px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    border-radius: 8px;
    margin-right: 10px;
  }
  .input_email {
    font-size: 16px;
  }
  .community__desc {
    font-size: 14px;
  }
}
