.community {
  background-color: var(--yellow);
  margin: 0 auto;
}

.community__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 37px;
  padding-top: 141px;
  padding-bottom: 156px;
}

.community__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 55px;
  line-height: 127%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
}

.community__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0.03em;
  color: var(--white);
  text-align: center;
}

.input_email {
  border-radius: 10px;
  width: 574px;
  height: 87px;
  background: var(--white);
  padding-left: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.input_btn {
  background: var(--textColor);
  border-radius: 8px;
  width: 161px;
  height: 67px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: var(--white);
  position: relative;
  right: 170px;
  top: 2px;
}

.form {
  display: block;
  margin: 0 auto;
}
