.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 900px;

  padding-left: 100px;

  border-radius: 40px;
  background-size: cover;
  background-image: url(../img/images/hero.jpg);
  background-position: 16%;
  background-color: var(--yellow);
}

.promo__text {
  margin-top: 290px;
}

.promo__btn-wrapper {
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 70px;
}

.promo__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: #fff;
  width: 358px;
  height: 70px;
}
.promo__btn:active,
.promo__btn:hover,
.promo__btn:focus {
  color: var(--yellow);
}
@media screen and (max-width: 1610px) {
  .promo__btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1280px) {
  .promo__content {
    background-position: 65%;
  }

  .promo__btn-wrapper {
    margin-top: 100px;
  }
}
@media screen and (max-width: 655px) {
  .promo__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 900px;
    padding-left: 0px;
    align-items: center;
  }
}
@media screen and (max-width: 470px) {
  .promo__content {
    background-position: 78%;
  }
  .promo__btn {
    font-size: 24px;
    width: 258px;
    height: 50px;
  }
}
