.logos-slide img {
  height: 50px;
  margin: 0 45px;
}

.logos-slide {
  display: inline-block;
  animation: 8s slide infinite linear;
  gap: 45px;
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  padding: 50px 0;
  background-color: var(--yellow);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 1220px) {
  .logos-slide img {
    margin: 0 20px; /* Уменьшите отступы между изображениями по мере необходимости */
  }
}

@media screen and (max-width: 767px) {
  .logos-slide img {
    margin: 0 5px; /* Уменьшите отступы между изображениями по мере необходимости */
  }
}
@media screen and (max-width: 375px) {
}
