.logos-slide img {
  height: 50px;
  margin: 0 45px;
}

.logos-slide {
  display: inline-block;
  animation: 8s slide infinite linear;
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  padding: 50px 0;
  background-color: var(--yellow);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
