:root {
  --textColor: #000;
  --yellow: #ffc700;
  --gray: #7f7f7f;
  --l-gray: #b2b2b2;
  --hover-color: #ff5733;
  --white: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--textColor);
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }
}

.title-2 {
  display: inline-block;
  position: relative;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 375px) {
  .title-2 {
    font-size: 24px;
  }
}
