.title {
  display: block;
  position: relative;
  overflow: hidden;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Apply the animation to each path within the SVG */
#logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3s ease forwards;
}

/* Add animation for filling the text */
@keyframes fillText {
  to {
    fill: #fff; /* Change the color to your preference */
  }
}

/* Add hover styles */
.title.hovered #logo {
  fill: var(--hover-color);
}
@media screen and (max-width: 1610px) {
  #logo {
    width: 558px;
    height: 182px;
    margin-left: -27px;
  }
}
@media screen and (max-width: 1180px) {
  #logo {
    width: 538px;
    height: 162px;
    margin-left: -43px;
  }
  svg {
    fill: var(--yellow);
  }
}

@media screen and (max-width: 655px) {
  #logo {
    width: 358px;
    height: 132px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 470px) {
  #logo {
    width: 258px;
    height: 132px;
    margin-left: 0px;
  }
}
