.title {
  display: block;
  position: relative;
  overflow: hidden;
}

.bg {
  padding: 50px;
  /* background-color: var(--yellow); */
}
/* Define the keyframes for stroke-dasharray and stroke-dashoffset animation */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Apply the animation to each path within the SVG */
#logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}

/* Add animation for filling the text */
@keyframes fillText {
  to {
    fill: #fff; /* Change the color to your preference */
  }
}

/* Add hover styles */
.title.hovered #logo {
  fill: var(--hover-color);
}
@media screen and (max-width: 1220px) {
  #logo {
    width: 400px;
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  #logo {
    width: 488px;
    height: 112px;
  }
}
