.footer {
  background-color: var(--textColor);
}
.conteiner {
  max-width: 1720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 130px 30px;
  margin: 0 auto;
}
.footer__social {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer__title span {
  /* margin-left: -10px;
  margin-right: -10px; */
  transition: all 0.3s ease 0s;
}
.footer__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.02em;
  color: var(--gray);
  padding-bottom: 25px;
}

.wrap_svg {
  display: flex;
  gap: 14px;
  fill: var(--yellow);
}

.footer_nav {
  display: flex;
  gap: 50px;
  text-align: center;
}
.footer_nav-item a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.02em;
  color: var(--gray);
  transition: all 0.3s ease 0s;
}
.footer_nav-item a:hover {
  color: var(--yellow);
}
.wrap_soc {
  transition: all 0.3s ease 0s;
}
.wrap_soc:hover {
  scale: 0.9;
}
.footer_nav-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.02em;
  color: var(--l-gray);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__desc:hover span {
  color: var(--yellow);
}
.footer__desc span {
  position: relative;
  display: inline-block;
}
.footer__title:active span,
.footer__title:hover span,
.footer__title:active span {
  color: var(--yellow);
}
/* .footer__desc span::after {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../../img/socials/arrow.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #ffffff43;
} */

/* -------------media--------------- */
/* -------------media--------------- */
/* -------------media--------------- */
/* -------------media--------------- */
/* -------------media--------------- */
/* -------------media--------------- */

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 32px;
  }
  .conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 20px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .footer__title {
    margin: 0 auto;
    text-align: center;
  }
  .footer__desc {
    display: none;
  }
}
